@import '@/assets/styles/typography';
@import '@/assets/styles/colors';

.card {
  position: relative;
  width: 19.438rem;
  height: 14rem;
  padding: 1rem 1.7rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 1rem 1rem 0.1rem hsl(229deg 6% 66% / 20%);
  text-align: left;

  div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0.25rem;
    background-color: $color-primary-cyan;
  }

  h2 {
    margin-top: 0.6rem;
    font-size: 1.25rem;
    font-weight: $font-semibold;
  }

  p {
    margin-top: 0.25rem;
    opacity: 0.5;
    font-size: 0.813rem;
    font-weight: $font-normal;
    letter-spacing: 0.0056rem;
    line-height: 1.438rem;
  }

  img {
    position: absolute;
    right: 1.8rem;
    bottom: 1.8rem;
    width: 3.563rem;
    height: 3.563rem;
  }

  @media screen and (min-width: 1440px) {
    width: 21.875rem;
    height: 15.625rem;
  }
}
