$color-primary-red: hsl(0deg 78% 62%);
$color-primary-cyan: hsl(180deg 62% 55%);
$color-primary-orange: hsl(34deg 97% 64%);
$color-primary-blue: hsl(212deg 86% 64%);
$color-neutral-very-dark-blue: hsl(234deg 12% 34%);
$color-neutral-grayish-blue: hsl(229deg 6% 66%);
$color-neutral-very-light-gray: hsl(0deg 0% 98%);
